$silver					: #F7F7F7;
$light_gray				: #C0C0C0;
$white					: #FFFFFF;
$black					: #000000;
$gray					: #696969;
$blue					: #333399;
$green					: #40826D;

$mobile_menu_font_color	: #fafafa;
$mobile_menu_bg_color	: #3d3734;
$mobile_menu_border		: #1e1b18;
$mobile_menu_bg_hover	: #91847d;

$button_hover			: #669b8a;

$title					: 48px;
$sub_title				: 28px;
